/* Header */
#project-detail {
  /* overflow: hidden; */
  overflow-x: hidden;
  border: 2px solid pink;
}
#project__details__header {
  /* border: 5px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  /* background: url(../../assets/Desktop\ -\ 3.png); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  overflow: hidden;
}
#project__details__header .header__container {
  /* border: 2px solid red; */
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#project__details__header h1 {
  /* width: 846px;
  height: 85px; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 85px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
}
.see__prototype h2,
.tools__used h2,
.project__overview h2 {
  /* border: 2px solid red; */
  font-size: 32px;
}
.project__overview p {
  /* border: 2px solid goldenrod; */
  width: 846px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
#project__details__header p {
  width: 846px;
  height: 44px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
#project-detail .project__detial-container {
  width: 700px;
  height: 600px;
  border: 2px solid #408697;
}
.project__detial-container .project__detail-image {
  width: 600px;
  height: 500px;
  border-radius: 10px;
}
.project__detial-container .project__detail-image img {
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  #project__details__header .header__container {
    /* border: 2px solid red; */
    /* margin-top: 5rem;
    gap: 30px; */
    gap: 10px;
  }
  #project__details__header h1 {
    /* border: 2px solid red; */
    /* width: 700px;
    height: 170px;
    font-size: 28px; */
    /* font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    text-align: center; */
  }

  #project__details__header p {
    width: 546px;
    height: 86px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
  #project__details__header .header__container {
    /* border: 2px solid red; */
    margin-top: 8rem;
    gap: 10px;
  }
  #project__details__header .header__container h1 {
    /* border: 2px solid red; */
    width: 400px;
    height: 99px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
  }
  header .header__socials {
    display: none;
  }
  #project__details__header .header__container p {
    /* border: 2px solid green; */
    width: 346px;
    height: 76px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

/* Image */
.project__detial-container {
  margin: 40px auto;
  width: 780px;
  height: 516px;
  background: linear-gradient(
    180deg,
    rgba(65, 65, 65, 0.3) 0%,
    rgba(69, 69, 69, 0.1) 100%
  );
  box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.25),
    10px 12px 64px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(22.5px);
  border-radius: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
.project__detail-image {
  width: 85%;
  height: auto;
  border-radius: 27px;
}
.project__detail-image img {
  /* border-radius: 27px; */
  /* height: fit-content; */
  object-fit: cover;
  /* object-fit: contain; */
}
@media screen and (max-width: 1024px) {
  .project__detial-container {
    width: 411px;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  #project-detail .project__detial-container {
    width: 380px;
    height: 380px;
    border: 2px solid #408697;
  }
  .project__detial-container .project__detail-image {
    width: 280px;
    height: 280px;
    border-radius: 10px;
  }
}
/* globals */
section h2 {
  width: 665px;
  height: 56px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
}

/* project overview */
.project__overview {
  /* border: 2px solid red; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.tools__used h2,
.see__prototype h2 {
  margin-bottom: 20px;
  /* border: 2px solid turquoise; */
}

/* see prototypes */
.btns {
  display: flex;
  margin: 30px auto;
  gap: 3rem;
}

@media screen and (max-width: 1024px) {
  .project__overview,
  .see__prototype,
  .tools__used,
  .btns {
    /* border: 2px solid slateblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .btns {
    gap: 2rem;
  }
  .project__overview p {
    /* border: 2px solid goldenrod; */
    width: 546px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 600px) {
  .project__overview p {
    /* border: 2px solid goldenrod; */
    width: 346px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }
}
