footer {
  width: 100vw;
  overflow: hidden;
}
#footer {
  width: 100vw;
  height: 219px;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0.24) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  backdrop-filter: blur(43.5px);
  /* Note: backdrop-filter has minimal browser support */

  display: grid;
  place-items: center;
}
.footer__container {
  /* border: 2px solid palevioletred; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* flex-direction: column; */
  /* gap: 260px; */
}
.footer__text {
  /* border: 2px solid red; */
  width: 506px;
  /* height: 44px; */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  text-align: left;
}
.footer__text h2 {
  width: 259px;
  height: 38px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}
.footer__text p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #ffffff;
}
.footer__socials {
  /* border: 2px solid greenyellow; */
  /* width: 306px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  flex-direction: column;
}
.footer__socials h3 {
  width: 110px;
  height: 38px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  text-transform: capitalize;
  color: #f6f6f6;
}
.footer__socials svg {
  height: 30px;
  width: 30px;
  /* border-radius: 0px; */
}
.social__icons {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* media queries for tablet screens */
@media screen and (max-width: 1024px) {
  .footer__text h2 {
    /* width: 259px;
    height: 38px; */
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }
  .footer__text p {
    font-weight: 300;
    font-size: 16px;
  }
  .footer__text {
    width: 406px;
  }
  .footer__socials h3 {
    width: 110px;
    height: 38px;
    font-size: 32px;
  }
  .footer__socials svg {
    height: 30px;
    width: 30px;
  }
}

/* media queries for mobile screens */
@media screen and (max-width: 600px) {
  #footer {
    padding: 10px 0;
    height: 402px;
    background: linear-gradient(
      180deg,
      rgba(248, 248, 248, 0.24) 0%,
      rgba(255, 255, 255, 0.08) 100%
    );
    backdrop-filter: blur(33.5px);
  }
  .footer__container {
    height: 312px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
    /* border: 2px solid green; */
  }
  .footer__text {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    width: 359px;
    height: 57px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
  .footer__text h2 {
    width: 162px;
    height: 28px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
}
